/**
 *  Get your API keys here
 *  https://home.openweathermap.org/api_keys
 *  https://developers.google.com/maps/documentation/javascript/get-api-key
 */
module.exports = {
  GOOGLE_API_KEY: 'KEY_HERE',
  WEATHER_API_KEY: 'KEY_HERE'
}
